h1, h2, h3, h4{
    font-weight: bolder;
}



// Rounded Buttons
.btn {
    border-radius: 1em;
}


// Rounded nav bar
.nav-list-expander{
    
    &:hover{
        background: $sidebar-hover-color;
        background-image: none !important;
    }

    &.active{
        color: $sidebar-color !important;
        background: $link-color !important;
        background-image: none !important;
    }
}


.nav-list-link{
    color: $link-color;

    @include mq(md) {
        border-radius: 5em;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    &:hover{
        background: $sidebar-hover-color;
        background-image: none !important;

    }
    
    
    &.active{
        color: $sidebar-color !important;
        background: $link-color !important;
        background-image: none !important;
    }
}


// Bold Title

.site-title-text {
    font-weight: bold;
    width:100%;

    @include mq(md) {
        width:200%;
    }

}
